<!DOCTYPE html>
<html lang="zh-CN-hans">
<head>
    <meta charset="UTF-8">
    <title>虎牙直播</title>
    <meta name="Description" content="虎牙直播是中国领先的互动直播平台,可提供同时200万人在线高清观看、流畅的赛事直播与游戏直播.视频直播、其中包含lol、dota2、dnf等热门游戏直播以及单机游戏、手游等游戏直播"/>
    <meta name="Keywords" content="lol直播,英雄联盟直播,dota2直播,dnf直播,cf直播,游戏直播,赛事直播,yY直播,美女直播,户外直播,视频直播,虎牙TV,虎牙直播,EDG"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="baidu-site-verification" content="goT80oD7jJ" />
    <meta name="360-site-verification" content="e7ebef547974d9b5452addd5a6ab0c9f" />
    <meta name="sogou_site_verification" content="GczIV7FOQS"/>
    <link rel="stylesheet" href="./css/index.css" type="text/css">
    <!--[if gt IE 6]><!-->
    <script type="text/javascript">
    !function(t){t.loadScript(["http://szhuodong.duowan.com/feq/m_huya/yy-f2e-header-m_huya.min"])}(function(){function t(t){var e=n(t);document.write(e)}function n(t){for(var n,r="",c=0;n=t[c];c++)r+=e(n);return r}function e(t){var n=[unescape("%3Cscript%20type%3D%22text/javascript%22%20src%3D%22"),"",unescape("%22%3E%3C/script%3E")],e=new Date;return e.setSeconds(0),e.setMilliseconds(0),e=e.getTime(),t+="?t_="+e,n[1]=t,n.join("")}return{loadScript:function(n){n&&n.length&&n instanceof Array&&t(n)}}}())
    </script>
<!--<![endif]-->
</head>
<body>
<!-- header -->
<script src="http://assets.dwstatic.com/amkit/p/duya/live2/js/header_lg.js" data-fixed="true"></script>


<!-- footer -->
<script src="http://assets.dwstatic.com/amkit/p/duya/live2/js/footer.js" data-fixed="true"></script>   
<script src="./js/lib/jquery.min.js"></script>
<script src="./js/lib/index.js"></script>
<!--[if gt IE 6]><!-->
        <script type="text/javascript">
            window.onerror = function(a,b,c){ return true};!function(t){t.loadScript(["http://szhuodong.duowan.com/feq/m_huya/yy-f2e-m_huya.min"])}(function(){function t(e,a){var n=a[e];if(n){e++;var o=document.createElement("script");o.type="text/javascript",o.setAttribute("async","async"),o.onload=o.onreadystatechange=function(){return o.readyState&&"complete"!==o.readyState&&"loaded"!==o.readyState?!1:(o.onload=o.onreadystatechange=null,void t(e,a))};var c=new Date;c.setSeconds(0),c.setMilliseconds(0),c=c.getTime(),o.async=!0,o.src=n+"?_="+c,document.getElementsByTagName("head")[0].appendChild(o)}}return{loadScript:function(e){e&&e.length&&e instanceof Array&&t(0,e)}}}());
        </script>
<!--<![endif]-->
</body>
</html>